<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3450465910132734"
     crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="https://drive.google.com/uc?export=view&id=12WW_bwN4hBToWT9jcZWg9q2n1XbUBeba">
</head>

<body>
