<%- include("header") -%>

    <div style="height:100vh;display:flex; flex-direction: row;justify-content: space-evenly; align-items: center;">

        <form style="background-color: pink; border :solid white .2em ;width: max-content;" action="/login" method="get">
            <button style="width: 5em;"  type="submit">Login</button>
        </form>
        <form style="background-color: pink; border :solid white .2em ;" action="/register" method="get">
            <button style="width: 5em;" type="submit">Register</button>
        </form>
    </div>


    <%- include("footer") -%>