<%-include("headerlogin")-%>

    <form action="/register" method="post" class="form-signin">
      <img class="mb-4" src="https://drive.google.com/uc?export=view&id=12WW_bwN4hBToWT9jcZWg9q2n1XbUBeba" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <label for="Name" class="sr-only">First name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="First name" required autofocus>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      <!-- <label for="Name" class="sr-only">First name</label>
      <input type="text" id="name" name="name" class="form-control" placeholder="First name" required autofocus> -->
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <p class="mt-5 mb-3 text-muted">Copyright 2023 Rakesh kundan</p>
    </form>


    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div>

<%-include("footerlogin")-%>